@{
    ViewBag.Title = "Home Page";
}
<div id="home" class="header">
    <div class="banner-info">
        <div class="col-md-7 header-right">
            <h1>Merhaba !</h1>
            <h6>Bilgisayar Mühendisi</h6>
            <ul class="address">

                <li>
                    <ul class="address-text">
                        <li><b>İsim</b></li>
                        <li>Muhammed İkbal KARAKAYA</li>
                    </ul>
                </li>

                <li>
                    <ul class="address-text">
                        <li><b>Telefon </b></li>
                        <li>+90 532 164 50 26</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>ADRES </b></li>
                        <li>Eskişehir/TÜRKİYE</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>E-MAIL </b></li>
                        <li><a href="mailto:muhammed.ikbal.karakaya@gmail.com"> muhammed.ikbal.karakaya@gmail.com</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>WEBSITE </b></li>
                        <li><a href="http://www.muhammedkarakaya.net">www.muhammedkarakaya.net</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="col-md-5 header-left">
            <img src="@Url.Content("~/Content/MyTemplate/")images/img1.jpg" alt="">
        </div>
        <div class="clearfix"> </div>
        <link href="@Url.Content("~/Content/MyTemplate/")css/owl.carousel.css" rel="stylesheet">
        <script src="@Url.Content("~/Content/MyTemplate/")js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                $("#owl-demo1").owlCarousel({
                    items: 1,
                    lazyLoad: false,
                    autoPlay: true,
                    navigation: false,
                    navigationText: false,
                    pagination: true,
                });
            });
        </script>
        <!-- Feedback -->
        <script>
            $(document).ready(function () {
                $("#owl-demo3").owlCarousel({
                    items: 1,
                    lazyLoad: false,
                    autoPlay: true,
                    navigation: false,
                    navigationText: true,
                    pagination: true,
                });
            });
        </script>

    </div>

</div>





